<template>
  <carousel :autoplay="true" :perPage="1" :paginationEnabled="false" :navigationEnabled="true">
    <slide>
      <v-img src="/images/background.png">
      </v-img>
    </slide>
    <slide>
      <router-link :to="{ name: 'lan' }">
        <v-img src="/images/carousel.png"></v-img>
      </router-link>
    </slide>
  </carousel>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide
  }
};
</script>
