<template>
  <div class="text-xs-center" v-if="event">
    <v-dialog
      v-model="dialogComputed"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          {{ event.title }}
        </v-card-title>

        <v-card-text>
            <p><u>Date:</u> {{ event.startDate | moment("dddd, MMMM Do YYYY") }} - {{ event.endDate | moment("dddd, MMMM Do YYYY") }}</p>
            <p><u>Heure:</u> {{ event.startDate | moment("h:mm") }} - {{ event.endDate | moment("h:mm") }}</p>
            <v-divider></v-divider>
            {{ event.description }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="dialogComputed = false"
          >
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    dialog: {
      type: Boolean,
      default() {
        return false;
      }
    },
    event: {
      type: Object,
      default() {
          return null;
      }
    }
  },
  computed: {
  dialogComputed: {
    // getter
    get: function () {
      return this.dialog
    },
    // setter
    set: function (dialog) {
        this.$emit('update:dialog', dialog);
    }
  }
  },
};
</script>