<template>
  <v-footer dark height="auto">
    <v-card flat tile class="blue darken-4 white--text text-xs-center">
      <v-card-text>
        <v-btn href="https://www.facebook.com/LANParTIDrummond" class="mx-3 white--text" icon>
          <v-icon size="24px">fab fa-facebook</v-icon>
        </v-btn>
        <v-btn href="https://discord.gg/lanpar-ti" class="mx-3 white--text" icon>
          <v-icon size="24px">fab fa-discord</v-icon>
        </v-btn>
        <v-btn href="https://www.twitch.tv/ceti_drummond" class="mx-3 white--text" icon>
          <v-icon size="24px">fab fa-twitch</v-icon>
        </v-btn>
      </v-card-text>
      <v-card-text class="white--text pt-0 subheading">
        Le CÉTI (Comité des étudiant-es de la Technique de l'informatique) est un comité qui organise des activités pour les étudiants de la Technique de l’informatique au Cégep de Drummondville permettant ainsi de faire des liens d’amitié entre les étudiants. Par le biais de ces activités, le comité fait connaître le programme des Techniques de l‘informatique auprès de futurs étudiants. 
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">&copy;2019 —
        <strong>CETI</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {};
</script>
