<template>
    <v-toolbar color="blue darken-4">
        <v-toolbar-title><router-link :to="{ name: 'home' }"><img src="/images/CETI_LOGO_PMS.png" witdh="64" height="52"></router-link></v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
            <v-btn v-for="item in menu" :key="item.link" :to="{ name: item.link }" class="white--text" flat>{{ item.title }}
            </v-btn>
        </v-toolbar-items>
        <v-menu class="hidden-md-and-up">
            <v-toolbar-side-icon slot="activator" class="white--text"></v-toolbar-side-icon>
            <v-list>
                <v-list-tile v-for="item in menu" :key="item.link">
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <router-link :to="{ name: item.link }">
                                {{ item.title }}
                            </router-link>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-menu>
    </v-toolbar>
</template>

<script>
export default {
  data() {
    return {
      menu: [
        { link: "calendrier", title: "Calendrier" },
        { link: "lan", title: "Lan Par-TI 2019" },
        { link: "contactus", title: "Contactez-nous"}
      ]
    };
  }
};
</script>
