<template>
  <v-card color="rgb(0, 0, 0, 0)" elevation="0" flat :to="{name: 'article', params: {slug: article.slug}}">
    <v-img height="180px" :src="'/images/'+ article.image.source_url"></v-img>

    <v-card-title text-xs-center>
        <v-flex>
          <h3 class="headline mb-0">{{ article.title }}</h3>
          <p>{{ article.created_at }}
          </p>
        </v-flex>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  props: {
    article: {
      type: Object,
      default() {
        return null;
      }
    },
  }
};
</script>


