<template>
    <div id="SamplePlayerDivID"></div>
</template>

<script>
export default {
  props: ["channel"],
  data: {
    player: undefined,
    defaults: {
      width: 854,
      height: 480
    }
  },
  computed: {
    options: {
      get: function() {
        return Object.assign({}, this.defaults, {
          channel: this.channel
        });
      }
    }
  },
  methods: {
    init: function() {
      this.player = new Twitch.Player("SamplePlayerDivID", this.options);
    }
  },
  created: function() {
    this.$nextTick(() => {
      this.init();
    });
  }
};
</script>
