@media (min-width: 1264px) and (max-width: 1903px) {
    .flex.lg5-custom {
        width: 20%;
        max-width: 20%;
        flex-basis: 20%;
    }
  }
  
  .image-responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }