<template>
  <v-container grid-list-xs fluid v-if="isLoaded">
    <h5 class="headline">{{ article.title }}</h5>
    <v-layout row wrap>
      <v-flex xs12>
        <v-layout align-center wrap>
          <v-flex fill-height xs9>
            <v-card color="rgb(0, 0, 0, 0)" elevation="0" flat>
              <v-img v-if="article.image" max-height="200" :src="'/images/'+ article.image.source_url"></v-img>

              <v-card-title primary-title>
                <p>Par {{ article.user.name }} le {{ article.created_at }}</p>
              </v-card-title>

              <v-card-text v-html="article.content">
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex v-for="news in all_articles" :key="news.id" xs3>
            <news :article="news"></news>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import News from "../components/News.vue";

export default {
  components: {
    News
  },
  data: function() {
    return {
      article: null,
      all_articles: null,
      isLoaded: false
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    setArticle(slug) {
      this.article = this.all_articles.find(x => x.slug === slug);
      document.title = "Article - " + this.article.title;
    },
    fetchData() {
      const self = this;
      const slug = self.$route.params.slug;

      axios
        .get("/api/articles")
        .then(function(resp) {
          self.all_articles = resp.data;
          self.setArticle(slug);
          self.isLoaded = true;
        })
        .catch(function(resp) {});
    }
  }
};
</script>
