<template>
  <div>
    <section>
      <v-parallax src="/images/background.png">
        <v-layout align-center column justify-center>
          <img src="/images/CETI_LOGO_COMPLET.png">
        </v-layout>
      </v-parallax>
    </section>
    <v-container grid-list-sm text-xs-center fluid mb-2>
      <h1>Les nouvelles:</h1>
      <v-layout row justify-center wrap mt-4>
        <v-flex xs4 sm3 md2 xl1 ma-2 v-for="article in articles" :key="article.id">
          <news :article="article"></news>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import News from "../components/News.vue";

export default {
  components: {
    News
  },
  data() {
    return {
      articles: null
    };
  },
  mounted() {
    const self = this;

    axios
      .get("/api/articles")
      .then(function(resp) {
        self.articles = resp.data;
      })
      .catch(function(resp) {});
  }
};
</script>