<template>
  <div>
    <v-container grid-list-md text-xs-center fluid mb-2>
      <v-layout row justify-center wrap>
        <v-flex xs10 mb-5>
          <h1>Calendrier d'évenements</h1>
          <calendar-view
            :events="events"
            :show-date="showDate"
            :time-format-options="{hour: 'numeric', minute:'2-digit'}"
            :disable-past="disablePast"
            :disable-future="disableFuture"
            :show-event-times="showEventTimes"
            :display-period-uom="displayPeriodUom"
            :display-period-count="displayPeriodCount"
            :starting-day-of-week="startingDayOfWeek"
            :class="themeClasses"
            @click-event="onClickEvent"
            style="height:500px"
          >
            <calendar-view-header
              slot="header"
              slot-scope="{ headerProps }"
              :header-props="headerProps"
              @input="setShowDate"
            />
          </calendar-view>
        </v-flex>
      </v-layout>
    </v-container>
    <event-info :dialog.sync="dialogEvent" :event="event"></event-info>
  </div>
</template>

<script>
import { CalendarView, CalendarViewHeader } from "vue-simple-calendar";
import EventInfo from "../components/EventInfo.vue";

require("vue-simple-calendar/static/css/default.css");
require("vue-simple-calendar/static/css/holidays-us.css");

export default {
  components: {
    EventInfo,
    CalendarView,
    CalendarViewHeader
  },
  data() {
    return {
      showDate: this.thisMonth(1),
      dialogEvent: false,
      startingDayOfWeek: 0,
      disablePast: false,
      disableFuture: false,
      displayPeriodUom: "month",
      displayPeriodCount: 1,
      showEventTimes: true,
      useDefaultTheme: true,
      useHolidayTheme: true,
      events: [],
      event: null
    };
  },
  computed: {
    userLocale() {
      return this.getDefaultBrowserLocale;
    },
    dayNames() {
      return this.getFormattedWeekdayNames(this.userLocale, "long", 0);
    },
    themeClasses() {
      return {
        "theme-default": this.useDefaultTheme,
        "holiday-us-traditional": this.useHolidayTheme,
        "holiday-us-official": this.useHolidayTheme
      };
    }
  },
  mounted() {
    const self = this;

    axios
      .get("/api/calendar/")
      .then(function(resp) {
        self.events = resp.data;
      })
      .catch(function(resp) {});
  },

  methods: {
    thisMonth(d, h, m) {
      const t = new Date();
      return new Date(t.getFullYear(), t.getMonth(), d, h || 0, m || 0);
    },
    onClickEvent(e) {
      this.dialogEvent = true;
      this.event = e.originalEvent;
    },
    setShowDate(d) {
      this.showDate = d;
    }
  }
};
</script>
