<template>
  <v-container v-if="success" grid-list-xl text-xs-center fluid mb-2>
    <v-layout row justify-center wrap>
      <v-flex xs10 mb-5>
        <h1>Contactez le CETI:</h1>
        <v-card mt-3>
          <v-alert :value="true" type="success">
            Merci pour votre message. Il a bien été envoyé.
          </v-alert>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
  <v-container v-else grid-list-xl text-xs-center fluid mb-2>
    <v-layout row justify-center wrap>
      <v-flex xs10 mb-5>
        <v-card mt-3>
          <h1>Contactez le CETI:</h1>
          <v-alert :value="error" type="error">
            Le message n'a pas été envoyé. Il y a eu une erreur avec le serveur.
          </v-alert>

          <v-form ref="form" v-model="valid" lazy-validation>
            <v-card-text>
              <v-text-field v-model="contact.name" :rules="nameRules" label="Prénom et Nom" required></v-text-field>

              <v-text-field v-model="contact.subject" :rules="subjectRules" label="Sujet" required></v-text-field>

              <v-text-field v-model="contact.email" :rules="emailRules" label="Courriel" required></v-text-field>

              <v-textarea v-model="contact.message" :rules="messageRules" label="Votre message:" required>
              </v-textarea>
            </v-card-text>
            <v-card-actions class="justify-end">
              <v-btn color="blue darken-4 white--text" :disabled="!valid" @click="validate">
                Envoyer
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    valid: true,
    contact: {
      name: "",
      email: "",
      subject: "",
      message: ""
    },
    error: false,
    success: false,
    nameRules: [v => !!v || "Votre nom est obligatoire."],
    subjectRules: [v => !!v || "Le sujet est obligatoire."],
    emailRules: [
      v => !!v || "Votre adresse courriel est obligatoire.",
      v => /.+@.+/.test(v) || "Votre courriel doit être valide."
    ],
    messageRules: [v => !!v || "Le message est obligatoire."]
  }),

  methods: {
    validate() {
      const self = this;
      self.valid = false;
      if (this.$refs.form.validate()) {
        this.snackbar = true;
        axios
          .post("/api/contact/", self.contact)
          .then(response => {
            self.success = true;
            self.error = false;
          })
          .catch(error => {
            self.error = true;
            self.valid = true;
          });
      }
    }
  }
};
</script>