<template>
  <div>
    <section>
      <carousel></carousel>
    </section>
    <v-container grid-list-xl text-xs-center fluid mb-2>
    <v-layout align-start justify-end row>
      <v-icon v-if="index === 0" v-on:click="next()">fas fa-arrow-right</v-icon>
      <v-icon v-if="index === 3" v-on:click="previous()">fas fa-arrow-left</v-icon>
    </v-layout>
      <h1>Les dernières nouvelles:</h1>
        <v-layout v-if="isLoaded" row justify-center wrap mt-4>
          <v-flex v-for="article in paginatedNews" :key="article.id" xs4 sm3 md2 xl1 ma-2 class="lg5-custom">
              <news :article="article"></news>
          </v-flex>
        </v-layout>
      <v-layout row justify-center wrap>
        <v-flex xs4 sm3 md2 xl1>
            <v-btn outline color="blue darken-4" :to="{name: 'articles'}">Toutes les nouvelles</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import News from "../components/News.vue";
import Carousel from "../components/Carousel.vue";

export default {
  components: {
    News,
    Carousel
  },
  data() {
    return {
      articles: {},
      index: 0,
      isLoaded: false,
    };
  },
  mounted() {
    const self = this;

    axios
      .get("/api/articles/")
      .then(function(resp) {
        self.articles = resp.data;
        self.isLoaded = true;
      })
      .catch(function(resp) {});
  },
  computed: {
    paginatedNews() {
      let articles = {};
      if (this.isLoaded)
      {
        articles = this.articles.slice(this.index, this.index+3);
      }
      return articles;
    }
  },
  methods: {
    next() {
      this.index = this.index + 3;
    },
    previous() {
      this.index = this.index - 3;
    },
  } 
};
</script>

