<template>
  <div>
    <section>
      <v-parallax src="/images/parallax.png">
        <v-layout align-center column justify-center>
          <h1 class="display-2 mb-4">Acheter vos billets pour le LAN Par-TI 2019</h1>
          <v-btn href="http://buytickets.at/cti/233551" color="blue darken-4 white--text">Achat de mon billet</v-btn>
        </v-layout>
      </v-parallax>
    </section>
    <v-container grid-list-xl text-xs-center fluid mb-2>
      <section v-if="articles">
        <h1>Informations pour le LAN:</h1>
        <v-layout row justify-center wrap mt-4>
          <v-flex v-for="article in articles" :key="article.id" xs4 sm3 md2 xl1 ma-2 class="lg5-custom">
            <news :article="article"></news>
          </v-flex>
        </v-layout>
      </section>
    </v-container>
    <section>
      <v-img src="/images/horaire_web.png">
      </v-img>
    </section>
    <section>
      <v-container grid-list-xl text-xs-center fluid>
        <h1>Stream Officiel du LAN Par-TI</h1>
        <twitch channel="ceti_drummond"></twitch>
      </v-container>
    </section>
    <v-container v-if="isLoaded" grid-list-xl text-xs-center fluid mb-2>
      <section v-if="partenaires">
        <h1>Partenaires du LAN Par-TI 2019:</h1>
        <section v-if="platines">
          <h2>Platines:</h2>
          <v-flex xs12 sm6 offset-sm3>
            <v-container grid-list-sm fluid>
              <v-layout row wrap>
                <v-flex v-for="platine in platines" :key="platine.id" xs4 sm4 md4 lg3 d-flex>
                  <a :href="platine.link" target="_blank">
                    <v-card color="rgb(0, 0, 0, 0)" flat tile class="d-flex">
                      <v-img :src="'/images/partenaires/'+ platine.image.source_url" aspect-ratio="1" contain>
                      </v-img>
                    </v-card>
                  </a>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </section>
        <h2>Ors:</h2>
        <section v-if="ors">
          <v-flex xs12 sm6 offset-sm3>
            <v-container grid-list-sm fluid>
              <v-layout row wrap>
                <v-flex v-for="or in ors" :key="or.id" xs4 sm4 md4 lg3 d-flex>
                  <a :href="or.link" target="_blank">
                    <v-card color="rgb(0, 0, 0, 0)" flat tile class="d-flex">
                      <v-img :src="'/images/partenaires/'+ or.image.source_url" aspect-ratio="1" contain>
                      </v-img>
                    </v-card>
                  </a>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </section>
        <section v-if="argents">
          <h2>Argents:</h2>
          <v-flex xs12 sm6 offset-sm3>
            <v-container grid-list-sm fluid>
              <v-layout row wrap>
                <v-flex v-for="argent in argents" :key="argent.id" xs4 sm4 md4 lg3 d-flex>
                  <a :href="argent.link" target="_blank">
                    <v-card color="rgb(0, 0, 0, 0)" flat tile class="d-flex">
                      <v-img :src="'/images/partenaires/'+ argent.image.source_url" aspect-ratio="1" contain>
                      </v-img>
                    </v-card>
                  </a>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </section>
        <section v-if="bronzes">
          <h2>Bronzes:</h2>
          <v-flex xs12 sm6 offset-sm3>
            <v-container grid-list-sm fluid>
              <v-layout row wrap>
                <v-flex v-for="bronze in bronzes" :key="bronze.id" xs4 sm4 md4 lg3 d-flex>
                  <a :href="bronze.link" target="_blank">
                    <v-card color="rgb(0, 0, 0, 0)" flat tile class="d-flex">
                      <v-img :src="'/images/partenaires/'+ bronze.image.source_url" aspect-ratio="1" contain>
                      </v-img>
                    </v-card>
                  </a>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </section>
      </section>
    </v-container>
  </div>
</template>


<script>
import News from "../components/News.vue";
import Twitch from "../components/Twitch.vue";

export default {
  components: {
    News,
    Twitch
  },
  data() {
    return {
      articles: {},
      index: 0,
      isLoaded: false,
      partenaires: {}
    };
  },
  created() {
    this.populate();
  },
  methods: {
    populate() {
      const self = this;

      axios
        .get("/api/articles/lan")
        .then(function(resp) {
          self.articles = resp.data;
        })
        .catch(function(resp) {});

      axios
        .get("/api/partenaires")
        .then(function(resp) {
          self.partenaires = resp.data;
          self.isLoaded = true;
        })
        .catch(function(resp) {});
    }
  },
  computed: {
    platines() {
      return this.partenaires.filter(x => x.type === 1);
    },
    ors() {
      return this.partenaires.filter(x => x.type === 2);
    },
    argents() {
      return this.partenaires.filter(x => x.type === 3);
    },
    bronzes() {
      return this.partenaires.filter(x => x.type === 4);
    }
  }
};
</script>
