<template>
    <v-app>
        <navbar></navbar>
        <v-content>
            <slot></slot>
        </v-content>
        <c-footer></c-footer>
    </v-app>
</template>

<script>
import navbar from "../components/Navbar.vue";
import cFooter from "../components/Footer.vue";

export default {
  components: {
    navbar,
    cFooter
  }
};
</script>